# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# macOS
.DS_Store

# Built apps / artifacts
*.app
*.dSYM.zip
*.dSYM

# Editor backups
*.backup
*.swp
*~

# Pixelmator
*.pxd/
