
.DS_Store
LYWSD02 Clock Sync.xcodeproj/project.xcworkspace/xcuserdata/Aleh_Chachotka.xcuserdatad/UserInterfaceState.xcuserstate
LYWSD02 Clock Sync.xcodeproj/project.xcworkspace/xcuserdata/Aleh_Chachotka.xcuserdatad/UserInterfaceState.xcuserstate
