<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth is required to discover and synchronize time with your Xiaomi LYWSD02 thermometer-clock.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is required to communicate with your Xiaomi LYWSD02 thermometer-clock.</string>
</dict>
</plist>
